body {
  background-image: url("images/tile4.png");
  margin: 2% 15%;
 }
 ::-webkit-scrollbar {
   width: 0px;
   background: transparent;
 }
h1 {
  border-bottom: 3px ridge #d19346;
  margin-bottom: 3%;
  text-align: center;
  font-size: 3em;
 }
h2 {
  border-bottom: 3px ridge #d19346;
  text-align: left;
  font-size: 2em;
 }
ul {
  margin-top:8px;
  list-style-type: circle;
 }
 td {
   padding: 10px;
 }
 .maintext {
   font-size: 14pt;
 }
 hr {
   border: ridge 2px #d19346;
 }
a {
  text-decoration: none;
}
a:hover {
  color: #0099bb;
}
a:visited, a:link {
  color: #cc0044;
}

img {
  border: ridge #d19346 5px;
}
