html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body {
  background-image: url("tile2.png");
  margin: 0 10%;
  font-family: serif;
}
h1 {
  text-align: center;
  font-family: serif;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 3px ridge #d1633c;
  margin-top; 30px;
}
h2 {
  color: #d1633c;
  font-family: serif;
  margin-bottom: 0px;
  text-shadow: 2px 2px #000000;
}
button {
  background-color: #cdcdcd;
  border-style: ridge;
  border-color: #d1633c;
  border-radius: 15px;
}
button:hover {
  background-color: #FFCFA9;
  border-style: ridge;
  border-color: #d1633c;
  border-radius: 15px;
}
div.nav {
  text-align: center;
}
a.nav {
  font-family: Verdana;
  text-decoration: none;
  font-weight: bold;
}
a:link, a:visited {
  color: #d1633c;
}
a:hover {
  color: #0099cc;
}
footer {
  border-top: 3px ridge #d1633c;
  text-align: center;
  margin-top: 0;
}
footer img {
  width: 40px;
  height: 40px;
  margin-left: .5em;
  margin-right: .5em;
  border: none;
}
small {
  color: #888888;
  font-size: 0.5em;
}
.mid {
  padding: 12px;
  border: ridge 4px #fc7c47;
  border-radius: 15px 0px 15px 0px;
  margin-top: 10px;
  margin-right: 25%;
  margin-left: 25%;
  background-image: url("tile4.png");
}
#mid {
  padding: 6px;
  border: ridge 2.5px #fc7c47;
  border-radius: 15px 0px 15px 0px;
}
img {
  border: 5px ridge #d1633c;
}
p {
  margin-left: 3%;
}
ul, ol {
  list-style-type: none;
}
fieldset {
  border: ridge 8px #dfdfdf;
}
legend {
  border: ridge 6px #d0d0d0;
}
